[Unit]
Description=Crowdsound Webclient
Requires=crowdsound.service
After=crowdsound.service

[Service]
ExecStart=/opt/crowdsound/webclient -config /etc/crowdsound/webclient_config.json
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target

